@import url(antd/dist/antd.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.modalLogout {
  -webkit-animation: modalLogout 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: modalLogout 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes modalLogout {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes modalLogout {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.left {
  background-image: url("../assets/splash.jpg");
}

/* RESPONSIVE  */
@media only screen and (min-width: 800px) {
  .home {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
  .photoAwawl {
    width: 100%;
    height: 100%;
  }
  .left {
    width: 50%;
    height: 100%;
    background-image: url("../assets/splash.jpg");
    background-size: cover;
  }
  .right {
    width: 50%;
  }
  .buttonOpt {
    padding: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
